@import '~styles/config';

.bar {
  display: none;

  position: sticky;
  top: -1px;
  z-index: $z-index-nav-bar;
  opacity: 0;

  height: 0;

  transition: opacity 300ms;

  @media print, (min-width: $min-desktop) {
    display: block;
  }

  &.isVisible {
    opacity: 1;
  }

  &__inner {
    position: relative;

    padding-top: 30px;
    padding-bottom: 30px;

    background: #fff;
    box-shadow: 0 6px 23px 10px rgba(#000, 0.05);

    transform: translateY(-100%);
    transition: transform 300ms;

    .isVisible & {
      transform: translateY(0);
    }
  }

  &__container {
    @include container;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__button {
    @include reset-button;
    @include responsive-font(16, 18);

    font-weight: 600;
    color: $color-dark;

    cursor: pointer;

    transition: color 300ms ease;

    &:hover {
      color: $color-primary;
    }

    &::after {
      content: '•';

      margin-left: 12px;
      margin-right: 12px;

      color: $color-blue;
    }

    &:last-of-type::after { // stylelint-disable-line
      display: none;
    }
  }
}
