@import '~styles/config';

.footer {
  flex: 0 1 auto;
  padding: $gutter 0 0;

  color: #fff;

  background: $color-blue-dark;

  &__container {
    @include container;
  }

  &__row {
    @include grid-row;
  }

  &__content {
    @include grid-col;

    margin-top: 30px;

    font-size: 16px;
    line-height: 1.5;
    color: $color-santas-gray;

    @media print, (min-width: $min-tablet) {
      @include grid-col(6);
    }
    @media print, (min-width: $min-desktop) {
      @include grid-col(7);
      margin-right: percentage(1/12);

      border-right: 1px solid $color-oxford-blue;
    }

    &Secondary {
      order: 1;
      margin: $gutter*2 0;

      @media print, (min-width: $min-tablet) {
        order: 0;

        padding-top: 30px;
        margin: 0 0 50px;
      }
      @media print, (min-width: $min-desktop) {
        margin-right: percentage(1/12);
      }
    }
  }

  &__side {
    @include grid-col;

    margin-top: 30px;

    @media print, (min-width: $min-tablet) {
      @include grid-col(6);
    }
    @media print, (min-width: $min-desktop) {
      @include grid-col(4);
    }

    &Primary {
      order: 0;

      @media print, (min-width: $min-tablet) {
        order: 1;
      }
      @media print, (min-width: $min-desktop) {
        padding-top: 30px;
        margin: 0 0 50px;
      }
    }
  }

  &__list {
    @include reset-list;

    @media print, (min-width: $min-desktop) {
      display: inline-flex;
    }
  }

  &__item {
    display: inline-flex;
    position: relative;

    margin-right: 15px;
    padding-right: 15px;

    &::after {
      content: '';
      align-self: center;
      position: absolute;

      right: 0;

      height: 2px;
      width: 2px;

      background: $color-blue;
      border-radius: 50%;
    }

    &:last-child::after {
      display: none;
    }
  }

  &__link {
    @include reset-anchor;

    color: $color-santas-gray;

    transition: color $transition-enter;

    &:hover {
      color: #fff;
    }
  }

  &__copy {
    @include responsive-font(16, 18);

    margin: 0 0 $gutter;
    color: #fff;
  }

  &__address {
    display: block;
    position: relative;

    padding-right: $gutter;
    margin-right: $gutter;

    @media print, (min-width: $min-desktop) {
      display: inline-block;

      &::after {
        content: '';
        display: block;
        position: absolute;

        right: 0;
        top: 4px;

        height: 18px;
        width: 1px;

        background: $color-oxford-blue;
      }
    }
  }

  &__copyright {
    margin-right: 30px;
  }

  &__logo {
    display: flex;

    svg { // stylelint-disable-line
      width: 99px;
      height: 51px;
    }

    &Text {
      align-self: center;
      padding-top: 1.25em;
      padding-left: 10px;

      font-size: 12px;
      color: $color-mercury;
      font-weight: bold;

      @media print, (min-width: $min-tablet) {
        padding-left: 5px;
      }
    }

    &Svg {
      display: inline-flex;
      max-width: 101px;
    }
  }

  @media print {
    display: none;
  }
}
