@import '~styles/config';

.graphGrid {
  @include no-supports-grid {
    @include grid-row;

    > * {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 20px;
      width: calc(#{percentage(1 / 3)} - 20px);
    }
  }

  @include supports-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $gutter;

    @media print, (min-width: $min-720) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media print, (min-width: $min-1280) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
