@import '~styles/config';

.table {
  margin: 1em 0;

  width: 100%;

  border-spacing: 0;
  border-collapse: collapse;

  &__tbody {
    &Enter,
    &Appear {
      opacity: 0.01;
    }

    &EnterActive,
    &AppearActive {
      opacity: 1;
      transition: opacity 500ms ease-in;
    }
  }

  &__th {
    @include responsive-font(14,18);

    display: none;
    font-weight: 700;

    text-align: left;

    @media (min-width: $min-720) {
      display: table-cell;

      padding-bottom: (34/14) * 1em;

      vertical-align: top;
    }

    @media (min-width: $min-1080) {
      padding-left: 70px;

      &:last-child {

        padding-right: 70px;
      }
    }
  }

  &__tr {
    &:nth-child(even) {
      background-color: #f4f9f7;
    }
  }

  &__td {
    @include responsive-font(14,18);

    display: flex;

    padding-top: 6px;
    padding-bottom: 6px;

    line-height: 1.5;

    vertical-align: top;

    border-bottom: 1px solid #ececec;

    &::before {
      content: attr(data-th);
      display: inline-block;

      flex: 0 0 40%;
      padding-right: $gutter / 3;
    }

    &:first-child {
      padding-top: (20/14) * 1em;
    }

    &:last-child {
      padding-bottom: (20/14) * 1em;

      border-bottom: 0;
    }

    > span { // stylelint-disable-line
      flex: 0 0 60%;
    }

    @media (min-width: $min-720) {
      display: table-cell;

      padding: 0 $gutter / 2 0 0;
      width: 30%;
      height: 60px;

      line-height: 1.3;
      vertical-align: middle;

      border-bottom: 0;

      &::before {
        display: none;
      }

      > span { // stylelint-disable-line
        flex: none;
        padding-left: 0;
      }

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }

    @media (min-width: $min-1080) {
      padding-left: 70px;

      &:last-child {
        padding-right: 70px;
      }
    }

    &.isHighlighted {
      @include responsive-font(14,22);

      padding-top: 0;
      padding-bottom: 6px;

      font-weight: 700;

      border-bottom: 0;

      @media (min-width: $min-1080) {
        padding-bottom: 0;
      }
    }
  }
}
