@import '~styles/config';

.modal {
  display: block;

  width: 100%;
  max-width: 740px;

  min-height: 400px;

  @media print, (min-width: $min-840) {
    display: flex;
  }

  &__content {
    padding: 120px $gutter * 2;

    @media print, (min-width: $min-840) {
      flex: 1 0 100%;
    }

    @media print, (min-width: $min-720) {
      padding: 80px $gutter * 2;
    }

    @media print, (min-width: $min-1080) {
      padding: 80px 80px 50px;
    }
  }

  &__headline {
    @include h3(20, 28);

    margin-bottom: $gutter;
  }

  &__copy {
    @include responsive-font(16, 20);

    margin: 0 0 $gutter * 2;
    max-width: 600px;

    line-height: 1.6;
    color: #000;

    @media print, (min-width: $min-1080) {
      min-height: 130px;
    }
  }

  &__overlay {
    @include fit;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 1;

    padding: $gutter * 2;

    text-align: center;

    background: rgba(#fff, 0.9);
  }

  &__bar {
    $size: 50px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    right: 65px;

    padding-bottom: 15px;
    padding-left: 15px;

    overflow: auto;

    @media print, (min-width: $min-720) {
      justify-content: center;

      top: -22px;
      right: inherit;

      overflow: hidden;
    }

    @media print, (min-width: $min-1080) {
      left: ($gutter * 5) - ($size / 2);

      padding-left: 0;
    }
  }

  &__badge {
    @include reset-button;
    $size: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;

    margin-right: 10px;

    width: $size;
    height: $size;

    overflow: hidden;
    cursor: pointer;

    background: #fff;
    border-radius: 50%;

    border-style: solid;
    border-width: 1px;
    border-color: rgb(211, 211, 211);

    transition: box-shadow $transition-enter;

    @media print, (min-width: $min-1080) {
      left: ($gutter * 5) - ($size / 2);
    }

    &Selected,
    &:hover {
      .modal__flag {
        opacity: 1;
        filter: grayscale(0%);
      }
    }

    &Selected {
      box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.15);
    }
  }

  &__flag {
    position: relative;
    opacity: 0.9;

    height: 48px;
    max-width: none;

    filter: grayscale(100%);

    transition: opacity $transition-enter, filter $transition-enter;
  }
}
