*[tabindex]{
  outline: 0;
}
:global {
  .invisible{
    display: none;
  }
  .visible{
    display: block;
  }
}

.state-map-container {
  outline: 0;

  html {
    box-sizing: border-box;
  }

  

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  * {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: 400;
  //  transition: all 1s ease;
  }

  body {
    @include default-font();
    font-size: 18px;
    color:$white;

    @include responsive('desktop-m') {
      font-size: 16px;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  

  ul, li {
    list-style: none;
    padding: 0;
    margin: 0; 
  }

  input[type="text"],input[type="email"],input[type="search"], input[type="submit"], textarea, button {
    @include default-font();
    -webkit-appearance:none;
    border-radius:0;
  }
  select {  @include default-font();}

  a {
    color:$primary-color;
    transition: all 0.25s;
  }

  b,
  strong,
  strong * {
    font-weight: 600;
  }
  h1, h2, h3, h4, h5 {
    font-weight: 700;
  }

  *:focus {
    outline: none;
  }





  // -----------------------------------------------------------------------------
  // This file contains CSS helper classes.
  // -----------------------------------------------------------------------------

  /**
  * Clear inner floats
  */
  .clearfix::after {
    clear: both;
    content: '';
    display: table;
  }


  /* .button {
    display: inline-block;
    max-width: 100%;
    height: 50px;
    line-height: 52px;
    border: none;
    background: $primary-color;
    color:$white;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 25px;
    text-transform: uppercase;
    opacity:1;
    transition: all .3s ease;

    &:hover {
      opacity: .8;
      color: $white;
    }
  }

  .slick_arrow,
  .slick_dots button {
    cursor: pointer;
  } */
}