@import '~styles/config';

.arrow {
  @include will-animate;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: absolute;
  top: 75%;
  left: calc(50% - 43px);
  z-index: 4;

  width: 86px;
  height: 86px;

  border-radius: 50%;
  background-color: $color-dark;

  transform: translate3d(-50%, -50%, 0);

  @media (min-width: $min-880) {
    top: 55%;
  }

  &__copy {
    @include copy(16, 18);

    margin-top: 8px;
    margin-bottom: 5px;

    color: #fff;
    font-style: italic;
    line-height: 2;
  }

  &__arrow {
    width: 12px;

    transform: rotate(90deg);

    path { // stylelint-disable-line
      stroke: #fff;
    }
  }
}
