@import '~styles/config';

.sidereport {
  &__card {
    @include reset-button;

    display: block;
    margin: 0 auto $gutter * 2;

    width: 300px;

    text-align: left;

    @media (min-width: 1300px) {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &__container {
    @include container;
  }

  &__content {
    position: relative;
  }

  &__map {
    position: relative;

    margin: 0 0 $gutter;

    transition: transform 300ms ease;

    &::before {
      content: '';

      display: block;

      position: absolute;
      top: 10px;
      left: 20px;
      right: 20px;
      bottom: 10px;

      box-shadow: 0 0 100px rgba(#000, 0.1);
    }

    &:hover {
      transform: scale(1.04);
    }
  }

  &__circle {
    @include reset-button;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;

    cursor: pointer;

    transform: translate3d(-50%, -50%, 0);
  }

  &__svg {
    width: 65px;
    height: 65px;
  }

  &__image {
    display: block;
    position: relative;
    width: 100%;
    max-width: 336px;
  }

  &__title {
    @include responsive-font(16, 18);

    margin: 0 0 10px;

    font-weight: 600;
  }

  &__copy {
    @include responsive-font(16, 18);

    opacity: 0.5;
    font-style: italic;
  }
}
