@import '~styles/config';

.more {
  @include segment(100px, 100px, 50px, 50px);

  &__container {
    @include container;
  }

  &__row {
    @include grid-row;
  }

  &__col {
    @include grid-col;
  }

  &__content {
    position: relative;

    padding: 75px 65px;

    overflow: hidden;

    border-radius: $border-radius;
    background-color: #fff;
    box-shadow: 0 0 46px 0 rgba(62, 62, 62, 0.09);
  }

  &__heading {
    @include h2(32, 38);

    margin-bottom: 30px;

    font-weight: 600;
    letter-spacing: -0.02em;
  }

  &__copy {
    @include label(20, 24);

    opacity: 0.6;

    margin-bottom: 60px;

    color: $color-dark;
    letter-spacing: -0.005em;
  }

  &__svg {
    position: absolute;
    bottom: -10px;
    right: -240px;
  }
}
