@import '~styles/config';

.split {
  position: relative;
  margin: 3px 0 $gutter * 1.5;
  background: #fff;

  &__container {
    @include container;
  }

  &__row {
    @include grid-row;
  }

  &:nth-child(2n) &__row {
    flex-direction: row-reverse;
  }

  &__col:first-child {
    @include grid-col;

    @media print, (min-width: $min-720) {
      @include grid-col(5);
      @include grid-offset-right(1);
      display: flex;
    }

    @media print, (min-width: $min-1280) {
      @include grid-col(4);
      @include grid-offset-right(2);
    }
  }

  &__col:last-child {
    @include grid-col(6);
  }

  &:nth-child(2n) &__col:first-child { // stylelint-disable-line
    @include grid-col;

    @media print, (min-width: $min-720) {
      @include grid-col(5);
      @include grid-offset-right(0);
      @include grid-offset-left(1);
    }

    @media print, (min-width: $min-1280) {
      @include grid-col(4);
      @include grid-offset-left(2);
    }
  }

  &:nth-child(2n) &__col:last-child { // stylelint-disable-line
    @include grid-col(6);
    @include grid-offset-right(0);
  }

  &__background {
    @media print, (min-width: $min-720) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      pointer-events: none;
    }
  }

  &__image {
    background-repeat: none;
    background-size: cover;
    background-position: center top;

    @media print, (min-width: $min-720) {
      position: absolute;
      top: 0;
      left: 50%;
      right: 0;
      bottom: 0;
    }
  }

  &:nth-child(2n) &__image {
    left: 0;
    right: 50%;
  }

  &__img {
    visibility: hidden;

    @media print, (min-width: $min-720) {
      display: none;
    }
  }

  &__content {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: $gutter * 3 0;
  }

  &__name {
    @include responsive-font(36, 48);

    margin: 0 0 0.4em;

    line-height: (46 / 48);
    letter-spacing: -0.015em;
    font-weight: 600;
  }

  &__title {
    @include reset-paragraph;
    @include responsive-font(20, 24);

    margin: 0 0 0.875em;

    line-height: (28 / 24);
    letter-spacing: -0.005em;
    color: $color-gray;
  }

  &__quote {
    @include reset-all;
    @include responsive-font(20, 24);

    position: relative;
    margin: $gutter * 2 0 $gutter;

    line-height: (44 / 24);
    letter-spacing: -0.005em;

    @media print, (min-width: $min-1440) {
      margin-top: $gutter * 5;
    }

    &::before,
    &::after {
      color: $color-primary;
    }

    &::before {
      content: '“';

      position: absolute;
      left: -0.7em;
    }

    &::after {
      content: '”';
    }
  }

  &__button {
    margin-top: $gutter * 2;
  }

  &__aspect {
    @media print, (min-width: $min-720) {
      padding-bottom: 110%;
      width: 100%;
      height: 0;
    }
  }
}
