@import '~styles/config';

.pageLinks {
  @include no-supports-grid {
    @include grid-row;

    > * {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 20px;
      width: calc(#{percentage(1 / 2)} - 20px);
    }
  }

  @include supports-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $gutter;

    &.images-0 {
      @media print, (min-width: $min-840) {
        grid-template-columns: 6fr 6fr;
      }
    }

    &.images-1 {
      @media print, (min-width: $min-1080) {
        grid-template-columns: 7fr 5fr;
      }

      @media print, (min-width: $min-1280) {
        grid-template-columns: 8fr 4fr;
      }
    }

    &.images-2 {
      @media print, (min-width: $min-1080) {
        grid-template-columns: 5fr 7fr;
      }

      @media print, (min-width: $min-1280) {
        grid-template-columns: 4fr 8fr;
      }
    }

    &.singleChild {
      @media print, (min-width: $min-840) {
        grid-template-columns: 1fr;
      }

      @media print, (min-width: $min-1080) {
        grid-template-columns: 1fr;
      }

      @media print, (min-width: $min-1280) {
        grid-template-columns: 1fr;
      }
    }
  }
}
