@import '~styles/config';

.intro {
  padding: $gutter 0;
  width: 100%;

  text-align: center;

  &__header {
    @include responsive-font(34, 56);

    margin: 0 auto 2em;
    max-width: 10em;

    .isNew5g & {
      margin: 0 auto 0;
    }
  }

  &__heading {
    @include h2(34, 56);

    margin-bottom: 0;

    font-weight: bold;
    letter-spacing: -0.015em;
    line-height: (58 / 56);
  }

  &__subline {
    @include responsive-font(18, 24);
  }

  &__numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;

    @media print, (min-width: 1320px) {
      &::before, &::after {
        content: '';
        position: absolute;
        top: 15%;
        height: 60%;
        width: 2px;
        background: #DAE2E2;
        background: linear-gradient(180deg, rgba(#DAE2E2,1) 0%, rgba(#D8E1E1,.5) 100%);
        z-index: 1;
      }

      &::before {
        left: calc(33.33% - 1px);
      }

      &::after {
        left: calc(66.66% - 1px);
      }
    }
  }

  &__wrapper {
    margin-bottom: $gutter * 3;

    width: 400px;
    max-width: 100%;

    @media (min-width: $min-desktop) {
      margin-bottom: $gutter * 5;
    }
  }

  &.blue {
    .map__wrapper {
      border-right: 2px solid $color-blue;

      &:last-child {
        border-right: 0;
      }
    }
  }

  &.green {
    .map__wrapper {
      border-right: 2px solid $color-orange;

      &:last-child {
        border-right: 0;
      }
    }
  }

  &__number {
    display: flex;
    justify-content: center;

    margin-bottom: 15px;
  }

  &__numberSvg {
    display: flex;

    height: 52px;

    svg { // stylelint-disable-line
      margin-right: 8px;
    }

    @media (min-width: $min-tablet) {
      height: 62px;
    }

    .isNew5g & {
      height: auto;
      max-width: 325px;
    }
  }

  &__copy {
    @include reset-paragraph;
    @include responsive-font(18, 24);

    color: $color-dark;
    text-align: center;
  }
}
