@import '~styles/config';

.textInput {
  display: flex;
  flex-direction: column;

  &__label {
    @include responsive-font(16, 22);

    margin-bottom: 0.5em;

    font-weight: 600;
  }

  &__input {
    @include reset-input;
    @include responsive-font(18, 28);

    padding: 0 1em;
    margin-bottom: 1.6em;

    min-width: 100px;
    width: 100%;

    height: 3.4em;

    &.isInvalid {
      border: 1px solid $color-red;
    }
  }
}
