@import '~styles/config';

.container {
  @include container;

  .full {
    max-width: none;

    @media print, (min-width: $min-tablet) {
      max-width: none;
    }

    @media print, (min-width: $min-desktop) {
      max-width: none;
    }
  }
}
