@import '~styles/config';
$graphic-limit: 1860px;
$graphic-gutter: 40px;

.stateModal {
  display: flex;

  background: #fff;
  border-radius: 2px;
  border: lightgrey 1px solid;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.13);

  &__headingContainer{
    width:100%;
  }

  &__heading{
    display:flex;
    flex-direction: row-reverse;
  }
  &__close {
    @include reset-button;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;

    margin: 0; // 0 0 0 auto;

    height: 35px;
    min-width: 35px;
    cursor: pointer;

    border-radius: 50%;
    background: #fff;
    box-shadow: 0 8px 120px rgba(0, 0, 0, 0.1);

    &Svg {
      width: 13px;
      fill:#78cdd1;
    }
  }

  &__wrapper {
    position: relative;
    padding: 10px 20px 35px;
    width: 100%;
  }

  &__container {
    position: relative;

    // @media (min-width: $min-desktop) {
    //   @include container;
    //   padding: auto 30px;
    // }
  }

  &__row {
    @include grid-row($grid-gutter: 0);
    justify-content: center;
  }

  &__col {
    display: block;


    &Statistics {
      @include grid-col(12);

      @media (min-width: $min-desktop) {
        @include grid-col(12);
        @include grid-offset-left(0);
        @include grid-offset-right(0);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 0;
      }
    }
  }

  &__stateName {
    @include responsive-font(32, 38);
    color: #000;
    font-weight: 600;
    text-align: center;
    flex-basis: calc(100% - 65px);

    @media print, (min-width: $min-1024) {
      @include responsive-font(40, 46);
    }
  }

  &__abbreviation {
    @include h1(34, 48);

    color: $color-gray;
    font-weight: 300;
  }

  &__text {
    @include reset-paragraph;
    @include responsive-font(16, 18);

    margin-bottom: 20px;

    line-height: (30 / 18);

    color: $color-gray;

  }

  &__resources {
    display: flex;
    flex-flow: wrap;

    padding-top: 50px;

    border-top: 1px solid #e5e6e6;

    @media (min-width: $min-desktop) {
      margin-top: 0;
    }
  }

  &__resource {
    display: flex;
    flex: 0 0 (100% / 2);

    margin-bottom: $gutter;
  }

  &__download {
    @include reset-anchor;

    display: flex;
    flex-direction: row;
    align-items: center;

    &__icon {
      opacity: 0.3;

      margin-right: 16px;

      width: 48px;
      height: 48px;
    }

    &__label {
      @include responsive-font(16, 18);

      margin-top: -4px;

      color: $color-gray;
    }
  }

  &__print {
    @include reset-anchor;
    @include responsive-font(16, 18);
    display: flex;
    align-items: center;
    margin-bottom: 22px;

    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &Icon {
      margin-left: 13px;
      width: 21px;
    }
  }

  &__svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    @media (min-width: $min-desktop) {
      top: -184px;
      left: -40px;
      right: -25px;
    }

    z-index: 100;
  }

  &__resourceNumber {
    @include reset-paragraph;
    @include responsive-font(14, 16);

    margin-right: 5px;

    color: $color-blue;
  }

  &__resourceName {
    @include reset-paragraph;
    @include responsive-font(14, 16);

    color: $color-gray;
  }

  &__numberBlock {
    display: flex;
    flex-direction: column;

    margin-bottom: $gutter * 2;

    @media (min-width: $min-desktop) {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__number {
    display: flex;
  }

  &__numberSvg {
    display: flex;

    height: 47px;

    svg { // stylelint-disable-line
      margin-right: 3px;
    }
  }

  &__copy {
    @include reset-paragraph;
    @include responsive-font(18, 20);

    margin-top: 15px;

    color: $color-dark;
  }

  @mixin widthify($width) {
    width: percentage($width / 1540px);
    max-width: $width;
  }

  &__left,
  &__right {
    position: absolute;
    z-index: 0;

    pointer-events: none;
  }

  &__left {
    $width: 1000px;

    @include widthify($width);

    top: -7px;
    left: percentage(-70px / $graphic-limit);

    @media (min-width: $min-tablet) {
      $width: 537px;

      @include widthify($width);
    }
  }

  &__right {
    display: none;

    $width: 528px;

    @include widthify($width);

    top: -7px;
    right: percentage(-100px / $graphic-limit);

    @media (min-width: $min-tablet) {
      display: block;
    }
  }

  &__resourceLink {
    @include reset-anchor;

    margin-left: 5px;
  }

  &.is5g {
    .stateModal__right {
      display: none;
    }
  }
}
