@import '~styles/config';

.stateMap {
  position: relative;

  @include no-supports-grid {
    position: relative !important;
    height: 450px;
  }

  pointer-events: none;

  &.isInteractive {
    pointer-events: all;
  }

  &__map {
    @include no-supports-grid {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    path { // stylelint-disable-line
      cursor: pointer;

      fill: #fff;
      stroke: #fff;
      stroke-width: 1px;
    }
  }

  &__overlay {
    @include fit;

    opacity: 0.1;

    pointer-events: none;
  }
}
