@import '~styles/config';

.modal {
  @include fit;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: fixed;
  z-index: 99999;

  overflow: auto;

  @media print, (min-height: 800px) and (min-width: $min-768) {
    justify-content: space-around;
  }

  &__content {
    position: relative;
    z-index: 1;

    margin: $gutter;

    color: $color-font;

    background: #fff;
    border-radius: 4px;
  }

  &__close {
    @include reset-button;

    position: absolute;
    top: 0;
    right: $gutter / 2;

    padding: $gutter;

    cursor: pointer;

    .cantClose & {
      display: none;

      pointer-events: none;
    }

    svg { // stylelint-disable-line
      width: 12px;
      height: 12px;
    }

    path { // stylelint-disable-line
      fill: #000;
    }
  }

  &__overlay {
    @include fit;

    position: fixed;

    cursor: pointer;

    background: rgba(#000, 0.5);

    .cantClose & {
      pointer-events: none;
    }
  }
}
