@import '~styles/config';

.IQ {
  &__col {
    @include grid-col(12);

    &:nth-child(1) { order: 1; }
    &:nth-child(2) { order: 2; }
    &:nth-child(3) { order: 3; }
    &:nth-child(4) { order: 4; }
    &:nth-child(5) { order: 5; }
    &:nth-child(6) { order: 6; }

    @media print, (min-width: $min-720) {
      @include grid-col(6);
      &:nth-child(3) {
        order: 5;
      }
    }

    @media print, (min-width: $min-1200) {
      @include grid-col(4);
      &:nth-child(3) {
        order: 3;
      }
    }

  }

  &__container {
    background-color: #c4d438;
    height: calc(100% - 2rem);
    margin: 1rem;
    position: relative;

    &.hasImage {
      padding-bottom: 90%;
    }
  }

  &__image {
    @include fit;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__quote {
    @include responsive-font(20, 30);
    padding: 4rem 2rem .5rem 2rem;
    position: relative;
    z-index: 1;

    &:before {
      content: "\201c";
      position: absolute;
      @include responsive-font(250, 350);
      @include responsive-line-height(300, 350);
      color: #fff;
      opacity: .5;
      top: -2.8rem;
      left: .4rem;
      z-index: -1;

      @media print, (max-height: 805px) and (min-aspect-ratio: 16/10) {
        top: -2rem;
      }

      // 650px is start of 13" Mac Book Pro with dock at bottom range
      @media print, (max-height: 650px) and (min-aspect-ratio: 16/10) {
        top: -1.5rem;
      }
    }

    &:after {
      content: "\201d";
    }
  }

  &__attribution {
    @include responsive-font(16, 24);
    padding: 0 2rem 2.5rem 2rem;
    font-weight: bold;
  }
}
