@import '~styles/config';

.growth {
  $arrowHeight: 352px;

  &__container {
    @include container;
  }

  &__row {
    @include grid-row;
  }

  &__col {
    @include grid-col;

    position: relative;

    @media (min-width: $min-tablet) {
      @include grid-col(4);
      @include grid-offset-left(7);
    }
  }

  &__svg {
    width: 461px;
    height: $arrowHeight;
    max-width: 100%;
  }

  &__arrow {
    @include will-animate;
    position: absolute;
    top: ($arrowHeight - 100px);
    right: 0;
    z-index: -1;

    @media (min-width: $min-tablet) {
      top: ($arrowHeight - 250px);
      right: auto;
    }

    @media (min-width: $min-1024) {
      top: ($arrowHeight - 200px);
    }

    @media (min-width: $min-1440) {
      top: ($arrowHeight - 100px);
    }
  }
}
