@import '~styles/config';

.employee {
  &__container {
    @include container;
  }

  &__image {
    margin-bottom: 30px;
    padding-bottom: 81%;
    width: 100%;
    height: 0;

    background-color: $color-gray-light;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;

    -webkit-print-color-adjust: exact;
  }

  &__img {
    display: none;
  }

  &__name {
    @include responsive-font(28, 36);

    margin: 0 0 0.4em;

    line-height: (46 / 36);
    letter-spacing: -0.015em;
    font-weight: 600;

    .small & {
      @include responsive-font(22, 28);
    }
  }

  &__title {
    @include reset-paragraph;
    @include responsive-font(20, 24);

    margin: 0 0 0.875em;

    line-height: (28 / 24);
    letter-spacing: -0.005em;
    color: $color-gray;

    .small & {
      @include responsive-font(16, 20);
    }
  }

  &__link {
    @include reset-anchor;
    letter-spacing: -0.005em;
    color: $color-primary;
    font-weight: 600;
  }
}
