@import '~styles/config';

.smartcity {
  margin-top: 100px;
  position: relative;

  overflow: hidden;

  @media print, (min-width: $min-1080) {
    height: calc(100vh - 115px);
  }

  &__container {
    // @include container;

    display: flex;
    flex-direction: column;

    height: 100%;
  }

  &__background {
    position: relative;
    z-index: 8;
    object-fit: cover;
    object-position: center bottom;
    max-height: calc(50vh - 70px);

    @media print, (min-width: $min-720) {
      max-height: calc(100vh - 115px);
    }
  }

  &__svg {
    height: 100%;
    object-position: 50% 50%;
  }

  &__wrapper {
    background-color: rgba($color-background, .95);
    width: 100%;

    padding: 40px 60px;
    position: relative;
    text-align: center;
    z-index: 9;

    // margin: 100px auto 80px;
    margin: 0 auto 80px;

    @media print, (min-width: $min-960) {
      padding: 60px 90px;
      position: absolute;
      max-width: 800px;
      // top: percentage(350px / $page-width);
      // top: calc(50vh - 115px);
      top: 50%;
      left: 50%;

      margin: 0;

      // transform: translateX(-50%);
      transform: translate(-50%, -50%);
    }
  }

  &__title {
    @include responsive-font(40, 60);
    @include responsive-line-height(40, 60);

    font-weight: 900;

    // @include will-animate;
    // @include widthify(800px, 375px);
  }

  &__content {
    @include responsive-font(20, 22);
    @include responsive-line-height(26, 40);
  }
}

// .smartcity {
//   $height: 1080px;

//   position: relative;

//   padding-top: 60px;
//   margin-top: 20px;

//   overflow: hidden;

//   background: #ecf0f6;

//   @media print, (min-width: $min-tablet) {
//     padding-top: percentage(160px/$page-width);
//     margin-top: 80px;
//   }

//   @media print, (min-width: $min-desktop) {
//     padding-top: 200px;
//   }

//   &__animationContainer {
//     position: relative;
//     z-index: 0;

//     margin-left: auto;
//     margin-right: auto;
//   }

//   @mixin image-size($width) {
//     width: percentage($width / $page-width);

//     @media print, (min-width: $page-limit) {
//       width: $width;
//     }
//   }

//   &__content {
//     position: relative;
//     z-index: 1;
//   }

//   &__row {
//     @media print, (min-width: $min-720) {
//       margin: 0 -30px;
//     }
//   }

//   &__road {
//     position: relative;
//     background-color: #e9f2f9;

//     border-top: 2px solid #bec8cf;

//     &::after {
//       content: '';
//       display: block;
//       padding-bottom: percentage(160px/$page-width);
//     }
//   }

//   &__city {
//     position: relative;
//     top: 0;
//     z-index: 0;

//     margin-top: percentage(-450px/$page-width);
//     width: 100%;
//     height: 100%;
//   }

//   &__skyscraper {
//     position: relative;
//   }

//   &__cloud {
//     @include image-size(470px);
//     @include will-animate;

//     position: absolute;
//     z-index: 0;

//     top: percentage(250px/$page-width);
//     right: 0;
//     margin-right: percentage(350px/$page-width);
//   }

//   &__cloudSmall {
//     @include image-size(270px);
//     @include will-animate;

//     position: absolute;
//     z-index: 0;

//     top: percentage(100px/$page-width);
//     left: 0;
//     margin-left: percentage(150px/$page-width);
//   }

//   &__moon {
//     @include image-size(55px);
//     position: absolute;
//     top: percentage(100px/$page-width);
//     right: 0;
//     margin-right: percentage(200px/$page-width);
//   }


//   &__lightpoles {
//     position: absolute;
//     bottom: 0;

//     margin-bottom: -10px;
//     width: 100%;
//   }

//   &__lightpoleBig {
//     @include will-animate;
//     @include image-size(1280px);
//     bottom: 0;
//     position: absolute;
//     left: 50%;

//     max-height: 900px;
//   }

//   &__lightpole {
//     @include image-size(52px);
//     display: inline-block;

//     position: absolute;
//     bottom: 0;

//     &:nth-child(1) {
//       display: none;
//       left: percentage(80px/$page-width);

//       @media print, (min-width: $min-1024) {
//         display: inline-block;
//       }
//     }

//     &:nth-child(2) {
//       display: none;
//       left: percentage(250px/$page-width);

//       @media print, (min-width: $min-1024) {
//         display: inline-block;
//       }
//     }

//     &:nth-child(3) {
//       right: percentage(250px/$page-width);
//     }

//     &:nth-child(4) {
//       right: percentage(80px/$page-width);
//     }
//   }
// }
